.venv
log.txt
config.env
**/__pycache__/
*.session
*.session-journal
*.session-shm
*.session-wal
/.vscode/
/bot/downloads/
/cache/
test_tmdb.py
update_db.py
stremio.py
channels.py
tmdb_response.py
tvdb_test.py
tvdb_res.json
tmdb_response.json
one_piece.py
reboot_update.py