API_ID=''
API_HASH=''
BOT_TOKEN=''
AUTH_CHANNEL=''
DATABASE_URL='t'
SESSION_STRING=''
SUDO_USERS=''
OWNER_ID=''
# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)
#BASE_URL='http://192.168.7.8'
BASE_URL='https://dual-government-seeks-preparing.trycloudflare.com'
PORT='8080'
HIDE_CHANNEL='True'
USERNAME=''
PASSWORD=''
THEME='darkly'       # Avl : Bootswatch.com
ADMIN_USERNAME=''
ADMIN_PASSWORD=''
SLEEP_THRESHOLD = "60"  #Reduce FloodWait
WORKERS = "100"         #Parallel Tasks       
MULTI_CLIENT = ""       #Leave Empty to set it False
HIDE_CHANNEL = ""       #Leave Empty to set it False